<!-- This document is entirely for development purposes, its just a thing for me to type in sorry -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta property="og:title" content="blltrx" />
  <meta property=”og:image” content=”/assets/things.png” />
  <meta property=”og:description” content=”home” />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" initial-scale=1.0>
  <title>Rose/Bellatrix</title>
  <link href="/style.css" rel="stylesheet"/>
  <link rel="icon" type="image/x-icon" href="/assets/Logo smol.png">
  <script src=/main.js defer></script>
</head>

<body>
    <script src="/template/header.js"></script>

    <div class="center">
       <!--type here!-->
    </div>

    <script src="/template/footer.js"></script>
</body>


</html>