 body{
  padding-top: 0px;
  font-size:16px;
 } 

 .center {
  padding-left:  15%;
  padding-right:15%;
 }
@media only screen and (min-width: 800px) {
 .center {
  padding-left:30%;
  padding-right:30%;
 }
}

  h1 {
    font-size: 2.5em;
    text-align: center;
    font-family: monospace;
    font-weight: 400;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  h2 {
    font-size: 1.5em;
    font-style: normal;
    text-align: center;
    font-family: monospace;
    font-weight: 400;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  h3 {
    font-size: 1.5em;
    font-style: normal;
    margin-top: var(--dl-space-space-halfunit);
    text-align: left;
    font-family: monospace;
    font-weight: 400;
    margin-left: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-halfunit);
    text-transform: uppercase;
  }
  h4 {
    color: #791eb4;
    font-style: normal;
    text-align: left;
    font-family: monospace;
    font-weight: 400;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    text-transform: uppercase;
  }
  h5 {
    font-size: 1.3em;
    font-style: normal;
    text-align: left;
    font-family: monospace;
    font-weight: 400;
  }

  a  {
    transition: 0.3s;
    font-family: monospace;
    text-decoration: underline;
  }

  a:hover {
    text-decoration: none;
    color: #791eb4;
    cursor: pointer;
  }
  
  blockquote {
    font-size: 18px;
    font-family: monospace;
    padding-left: var(--dl-space-space-oneandhalfunits);
  } 

* {
  padding: 0px;
  margin: 0px;
  transition: 0.5 s;
  font-family: monospace;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  padding-bottom: 20px;
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.866);
  height: 8vh;
}
nav .links {
  display: flex;
}
.links p {
  padding: 10px;
}
#mobile-menu-btn {
  display: none;
}
.mobile-menu {
  color: rgba(255, 255, 255, 0.903);
  display: none;
  position: absolute;
  height: 40vh;
  width: 100vw;
  background-color: rgb(27, 27, 27);
}

@media (max-width: 600px) {
  #mobile-menu-btn {
    display: block;
  }
  nav a {
    display: none;
  }
  .mobile-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
  }
}

.headlogo {
  padding-top: 10px;
  width: 60px;
  height: 60px;
}

.headlink {
  color:black;
  padding-right: 5vh;
  padding-left: 5vh;
  font-family: monospace;
  text-decoration: None;
}

.headlinkm {
  color:rgb(255, 255, 255);
  padding-right: 5vh;
  padding-left: 5vh;
  font-family: monospace;
  text-decoration: None;
}

.footer {
  display: block;
  position: relative;
  background: #ffffff;
  text-decoration: none;
  font-family: monospace;
  margin-top:30px;
  padding-top:30px;
  padding-left: 50px;
  padding-right: 50px;
  border-top: 1px solid rgb(58, 58, 58);
}
.footer-start {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  width: 90%;
  margin: auto;
  padding: 80px 100px;
  background: #ffffff;
  border-radius: 15px;
}
.start-learning {
  position: absolute;
  left: 0;
  right: 0;
  top: -150px;
}
.footer .inner {
  display: flex;
  align-items: self-start;
  justify-content: space-between;
  column-gap: 20px;
  row-gap: 20px;
  max-width: 1180px;
  margin: auto;
  text-align: left;
}
.main-logo {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.main-logo .logo {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.main-logo .logo > img {
  display: block;
  width: 100%;
  min-width: 40px;
}
.logo-info {
  text-align: left;
  line-height: 20px;
}
.text {
  font-size: 17px;
  line-height: 17px;
  color: rgb(0, 0, 0);
  letter-spacing: .18em;
  font-weight: 600;
}
.copyright {
  color: rgb(0, 0, 0);
  font-size: 12px;
  line-height: 12px;
}
.footer .column {
  width: 100%;
  font-size: 14px;
  text-align: left;


}
.footer .column .column-title {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 0.5em;
  font-family: monospace;
  color: #791eb4;
}
.footer .column .column-title:not(:first-child) {
  margin-top: 1em;
  text-decoration: none;
}
.illustration {
  left: 8%;
  position: absolute;
  top: -28px;
}
a.button {
  display: inline-flex;
  position: relative;
  height: 60px;
  margin-right: 20px;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  background: #fff;
  color: #705df2;
  border-radius: 36px;
  font-size: 16px;
  font-weight: 700;
  padding: 0 30px;
  text-decoration: none;
  box-shadow: 0px 24px 74px rgb(60 0 189 / 20%);
}
.section-title {
  font-size: 44px;
  font-weight: 700;
  color: #fff;
}
.section-sub-heading {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
}
.section-sub-heading span {
  opacity: 0.6;
}
.section-sub-heading strong {
  font-weight: 600;
}
@media only screen and (max-width: 990px) and (min-width: 200px) {
  body {
      height: 200vh;
      overflow-y: scroll;
      overflow-x: hidden;
  }
  .footer .inner {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .start-learning {
      position: unset;
  }
  .footer-start {
      width: 100%;
      display: block;
      padding: 30px 20px;
      margin: 30px 0;
  }
  .section-title {
      font-size: 30px;
  }
  .section-sub-heading {
      font-size: 18px;
  }
  a.button {
      height: 50px;
      margin-top: 10px;
  }
  .column.is-logo {
      order: 4;
  }
}

 .footlink{
  text-decoration: none;
  color: black;
  font-family: monospace;
 }
 .footlink:hover {
  text-decoration: underline;
 }

 .monospaced{
  font-family: monospace;
 }

 .row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 50%;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    flex:100%
  }
}

.wcontent{
  margin-top:10px;
  padding-top: 10px;
  border-top:1px solid rgb(58, 58, 58);
  margin-bottom:10px;
  padding-bottom: 10px;
  border-bottom:1px solid rgb(58, 58, 58);
  text-decoration: none;
  color: black;
}

.wcontent .a {
  text-decoration: none;
}